#gameContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1300px;
	height: 768px;
	margin: 2rem auto;
	background-color: black;
	border: 3px solid #ea1538;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(234, 21, 56, 0.5);
}

#screen_container {
	width: 1300px;
	height: 768px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

#screen_container canvas {
	display: block;
	width: 1300px;
	height: 768px;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.game-buttons {
	display: flex;
	gap: 1rem;
	justify-content: center;
	margin-top: 1rem;
}

.fullscreen-button,
.back-button {
	text-decoration: none;
	padding: 12px 32px;
	border-radius: 30px;
	font-weight: bold;
	transition: 0.3s;
	cursor: pointer;
	border: none;
	font-size: 1rem;
}

.fullscreen-button {
	background-color: #1e90ff;
	color: #fff;
}

.fullscreen-button:hover {
	background-color: #0b71c1;
	transform: scale(0.95);
}

.back-button {
	background-color: #ea1538;
	color: #fff;
}

.back-button:hover {
	background-color: #bc102d;
	transform: scale(0.95);
}

#gameContainer:fullscreen {
	width: 100vw;
	height: 100vh;

	margin: 0;

	border: none;
	border-radius: 0;

	box-shadow: none;

	background-color: black;
}

#gameContainer:fullscreen #screen_container {
	width: 100%;
	height: 100%;
}

#gameContainer:fullscreen canvas {
	width: 100%;
	height: 100%;

	image-rendering: pixelated;
	image-rendering: crisp-edges;
}